@model websitequanlutours.ViewModel.DangKy

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/NguoiDungLayout.cshtml";
}

<h2>DangKy</h2>

@using (Html.BeginForm("DangKy","Account",FormMethod.Post))
            {

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Username)
            @Html.TextBoxFor(temp => temp.Username, new { placeholder = "Username", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Username)
        </div>
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Email)
            @Html.TextBoxFor(temp => temp.Email, new { placeholder = "Email", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Email)
        </div>
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Password)
            @Html.PasswordFor(temp => temp.Password, new { placeholder = "Password", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Password)
        </div>
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.ConfirmPassword)
            @Html.PasswordFor(temp => temp.ConfirmPassword, new { placeholder = "ConfirmPassword", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.ConfirmPassword)
        </div>
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Mobile)
            @Html.TextBoxFor(temp => temp.Mobile, new {  placeholder = "Mobile", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Mobile)
        </div>
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Birthday)
            @Html.TextBoxFor(temp => temp.Birthday, new { type = "date", placeholder = "Birthday", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Birthday)
        </div>
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.DiaChi)
            @Html.TextBoxFor(temp => temp.DiaChi, new { placeholder = "DiaChi", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.DiaChi)
        </div>
    </div>
   
    <button type="submit" class="btn btn-success">Đăng ký</button>
            }    