@model websitequanlutours.ViewModel.DangNhap


@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/NguoiDungLayout.cshtml";
}

<h2>DangNhap</h2>

@using (Html.BeginForm("DangNhap", "Account", FormMethod.Post, new { onsubmit = "return validateForm()" }))
{

    <div class="row w-25 mx-auto">
        <div class="col-md-12">
            @Html.LabelFor(temp => temp.Username)
            @Html.TextBoxFor(temp => temp.Username, new { placeholder = "Username", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Username)
        </div>

        <div class="col-md-12">
            @Html.LabelFor(temp => temp.Password)
            @Html.PasswordFor(temp => temp.Password, new { placeholder = "Password", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Password)
        </div>

    </div>
    <div class="row w-25 mx-auto">
        <div class="col-md-12">

            @ViewBag.ThongBao
            @*     @Html.ValidationSummary()
            *@
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-success">Login</button>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                var username = $.trim($('#Username').val());
                var password = $.trim($('#Password').val());

                if (username.length === 0 || password.length === 0) {
                    alert('Bạn cần nhập đầy đủ thông tin tài khoản.');
                    return false;
                }
            });
        });
    </script>
}

