    @model websitequanlutours.Models.Tour
    @{
        ViewBag.Title = "HienThi";
        Layout = "~/Views/Shared/TrangChuLayoutPage.cshtml";
    }


<br />
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3 rounded shadow-lg">
                <li class="breadcrumb-item">
                    <a href="#"><i class="fa fa-home" style="color:black; width:16px; height:16px;"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Tour </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Data
                </li>
            </ol>
        </nav>
        <div class="card shadow-lg " style="padding:50px">
            <table class="table">

                <tr>
                    <th>Mã tour</th>
                    <th>Tên tour</th>
                    <th>Thời gian tour</th>
                    <th>Giá tour</th>
                    <th>Chương trình tour</th>
                    <th>Mã loại tour</th>
                    <th>Mã chủ đề </th>
                    <th>Mã tour nước ngoài</th>
                    <th>Mã tour trong nước</th>
                    <th>Mã địa điểm hot nước ngoài</th>
                    <th>Mã địa điểm hot trong nước</th>
                </tr>
                <tr>


                    <td>@Model.MaTour</td>
                    <td>@Model.TenTour</td>
                    <td>@Model.ThoiGianTour.Value.ToString("dd-MM-yyyy")</td>
                    <td>@Model.Gia.Value.ToString("C")</td>
                    <td>@Model.ChuongTrinhTour</td>
                    <td>@Model.LoaiTour</td>
                    <td>@Model.ChuDe</td>
                    <td>@Model.TourNuocNgoai</td>
                    <td>@Model.TourTrongNuoc</td>
                    <td>@Model.DiaDiemHotNuocNgoai</td>
                    <td>@Model.DiaDiemHotTrongNuoc</td>

                </tr>
            </table>

        </div>
        <br>

        @*<p>Image at the bottom (card-img-bottom):</p>
            <div class="card" style="width:400px">
                <div class="card-body">
                    <h4 class="card-title">Jane Doe</h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
                <img class="card-img-bottom" src="../bootstrap4/img_avatar6.png" alt="Card image" style="width:100%">
            </div>*@
    </div>
