@model websitequanlutours.ViewModel.DangNhap

    @{
        ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/AccountLayout.cshtml";

    }

<div class="login-container">
    <div>
        <div class="logo">
            <i class="fas fa-hat-wizard"></i>
            <span>HUFLIT TOUR</span>
        </div>
        <div class="register">
            <div>Bạn chưa có tài khoản?</div>
            <p>Đăng ký để truy cập tất cả các tính năng của dịch vụ của chúng tôi. Hoàn toàn miễn phí.</p>

        </div>
    </div>
   
        <div class="form-login">
            <form action="" method="POST" class="form" id="form-2">
                <h3 class="heading">Đăng Nhập</h3>
                <div class="spacer"></div>

                <div class="form-group">

                    @Html.LabelFor(temp => temp.Username, "Tên Đăng Nhập")
                    @Html.TextBoxFor(temp => temp.Username, new { placeholder = "Tên Đăng Nhập", @class = "form-control" })
                    @Html.ValidationMessageFor(temp => temp.Username)
                </div>

                <div class="form-group">
                    @Html.LabelFor(temp => temp.Password, "Mật Khẩu")
                    @Html.PasswordFor(temp => temp.Password, new { placeholder = "Mật Khẩu", @class = "form-control" })
                    @Html.ValidationMessageFor(temp => temp.Password)
                </div>


                <div class="sign-up">
                    <div>
                        <button class="form-submit">Đăng Nhập</button>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>

            </form>
        </div>
    
</div>

<script>
    $(document).ready(function () {
        $('form').submit(function () {
            var username = $.trim($('#Username').val());
            var password = $.trim($('#Password').val());

            if (username.length === 0 || password.length === 0) {
                alert('Bạn cần nhập đầy đủ thông tin tài khoản.');
                return false;
            }
        });
    });
</script>


