@model WebsiteQuanLyTours.Models.Tour

@{
    ViewBag.Title = "HienThi";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>HienThi</h2>
<table class="table">

<tr>
    <th>Mã tour</th>
    <th>Tên tour</th>
    <th>Thời gian tour</th>
    <th>Giá tour</th>
    <th>Chương trình tour</th>
    <th>Mã loại tour</th>
    <th>Mã chủ đề </th>
    <th>Mã tour nước ngoài</th>
    <th>Mã tour trong nước</th>
    <th>Mã địa điểm hot nước ngoài</th>
    <th>Mã địa điểm hot trong nước</th>
</tr>
<tr>


    <td>@Model.MaTour</td>
    <td>@Model.TenTour</td>
    <td>@Model.ThoiGianTour.Value.ToString("dd-MM-yyyy")</td>
    <td>@Model.Gia.Value.ToString("C")</td>
    <td>@Model.ChuongTrinhTour</td>
    <td>@Model.MaLoaiTour</td>
    <td>@Model.MaChuDe</td>
    <td>@Model.MaTourNuocNgoai</td>
    <td>@Model.MaTourTrongNuoc</td>
    <td>@Model.MaDiaDiemHotNuocNgoai</td>
    <td>@Model.MaDiaDiemHotTrongNuoc</td>
    
</tr>
</table>

<a href="@Url.Action("Index","QuanLyTours")">back to list</a>