@model WebsiteQuanLyTours.Models.Tour

@{
    ViewBag.Title = "ChinhSua";
   
}

<h2>ChinhSua</h2>

<form action="/Admin/QuanLyTours/ChinhSua/@Model.MaTour" method="post">
    <input type="hidden" name="MaTour" value="@Model.MaTour" />
    <div class="row">
        <div class="col-md-6">
            <label for="TenTour">Tên tour</label>
            <select type="text"
                   class="form-control"
                   id="TenTour"
                   name="TenTour"
                   placeholder="Ten Tour" 
                   value="@Model.TenTour"/>
        </div>
        <div class="col-md-6">
            <label for="ThoiGianTour">Thời gian tour</label>
            <input type="date"
                   class="form-control"
                   id="ThoiGianTour"
                   name="ThoiGianTour"
                   placeholder="Thoi Gian Tour" 
                   value="@Model.ThoiGianTour"/>
        </div>
        <div class="col-md-6">
            <label for="Gia">Giá</label>
            <input type="number"
                   class="form-control"
                   id="Gia"
                   name="Gia"
                   placeholder="Gia" 
                   value="@Model.Gia"/>
        </div>
        <div class="col-md-6">
            <label for="ChuongTrinhTour">Chương trình tour</label>
            <input type="text"
                   class="form-control"
                   id="ChuongTrinhTour"
                   name="ChuongTrinhTour"
                   placeholder="ChuongTrinhTour" 
                   value="@Model.ChuongTrinhTour"/>
        </div>
        <div class="col-md-6">
            <label for="MaLoaiTour">Mã loại tuor</label>
            <select class="form-control"
                    id="MaLoaiTour"
                    name="MaLoaiTour"
                    placeholder="Ma Loai Tour">

                <option value="">Vui lòng chọn</option>
                @foreach (var cat in ViewBag.LoaiTours)
                {
                    if (cat.MaLoaiTour == Model.MaLoaiTour)
                    {
                        <option value="@cat.MaLoaiTour " selected>
                            @cat.LoaiTours
                        </option>
                    }
                    else
                    {
                        <option value="@cat.MaLoaiTour ">
                            @cat.LoaiTours
                        </option>
                    }
                }


            </select>
        </div>
        <div class="col-md-6">
            <label for="MaChuDe">Mã chủ đề</label>
            <select class="form-control"
                    id="MaChuDe"
                    name="MaChuDe"
                    placeholder="Ma Chu De"
                    value="@Model.MaChuDe">
                <option value="">Vui lòng chọn</option>
                @foreach (var cat in ViewBag.TourTheoChuDe)
                {
                    if (cat.MaChuDe == Model.MaChuDe)
                    {
                        <option value="@cat.MaChuDe " selected>
                            @cat.TourTheoChuDe1
                        </option>
                    }
                    else
                    {
                        <option value="@cat.MaChuDe " >
                            @cat.TourTheoChuDe1
                        </option>
                    }

                }
            </select>
        </div>
        <div class="col-md-6">
            <label for="MaTourNuocNgoai">Mã tour nước ngoài</label>
            <select class="form-control"
                    id="MaTourNuocNgoai"
                    name="MaTourNuocNgoai"
                    placeholder="Ma Tour Nuoc Ngoai"
                    value="@Model.MaTourNuocNgoai">
                <option value="">Vui lòng chọn</option>
                @foreach (var cat in ViewBag.TourNuocNgoai)
                {
                    if (cat.MaTourNuocNgoai == Model.MaTourNuocNgoai)
                    {
                        <option value="@cat.MaTourNuocNgoai " selected>
                            @cat.TourNuocNgoai1
                        </option>
                    }
                    else
                    {
                        <option value="@cat.MaTourNuocNgoai ">
                            @cat.TourNuocNgoai1
                        </option>
                    }
                    
                }
            </select>
        </div>
        <div class="col-md-6">
            <label for="MaTourTrongNuoc">Mã tour trong nước </label>
            <select class="form-control"
                    id="MaTourTrongNuoc"
                    name="MaTourTrongNuoc"
                    placeholder="Ma Tour Trong Nuoc"
                    value="@Model.MaTourTrongNuoc">
                <option value="">Vui lòng chọn</option>
                @foreach (var cat in ViewBag.TourTrongNuoc)
                {
                    if (cat.MaTourTrongNuoc == Model.MaTourTrongNuoc)
                    {
                        <option value="@cat.MaTourTrongNuoc " selected>
                            @cat.TourTrongNuoc1
                        </option>

                    }
                    else
                    {
                        <option value="@cat.MaTourTrongNuoc ">
                            @cat.TourTrongNuoc1
                        </option>
                    }
                  
                }
            </select>
        </div>
        <div class="col-md-6">
            <label for="MaDiaDiemHotNuocNgoai">Mã địa điểm nước ngoài</label>
            <select class="form-control"
                    id="MaDiaDiemHotNuocNgoai"
                    name="MaDiaDiemHotNuocNgoai"
                    placeholder="Ma Dia Diem Hot Nuoc Ngoai"
                    value="@Model.MaDiaDiemHotNuocNgoai">
                <option value="">Vui lòng chọn</option>
                @foreach (var cat in ViewBag.DiaDiemHotNuocNgoai)
                {
                    if (cat.MaDiaDiemHotNuocNgoai == Model.MaDiaDiemHotNuocNgoai)
                    {
                        <option value="@cat.MaDiaDiemHotNuocNgoai ">
                            @cat.DiaDiemHotNuocNgoai1
                        </option>
                    }
                    else
                    {
                        <option value="@cat.MaDiaDiemHotNuocNgoai ">
                            @cat.DiaDiemHotNuocNgoai1
                        </option>
                    }
                   
                }
            </select>
        </div>
        <div class="col-md-6">
            <label for="MaDiaDiemHotTrongNuoc">Mã địa điểm trong nước</label>
            <select class="form-control"
                    id="MaDiaDiemHotTrongNuoc"
                    name="MaDiaDiemHotTrongNuoc"
                    placeholder="Ma Dia Diem Hot Trong Nuoc"
                    value="@Model.MaDiaDiemHotTrongNuoc">
                <option value="">Vui lòng chọn</option>
                @foreach (var cat in ViewBag.DiaDiemHotTrongNuoc)
                {
                    if (cat.MaDiaDiemHotTrongNuoc == Model.MaDiaDiemHotTrongNuoc)
                    {
                        <option value="@cat.MaDiaDiemHotTrongNuoc ">
                            @cat.DiaDiemHotTrongNuoc1
                        </option>
                    }
                    else
                    {
                        <option value="@cat.MaDiaDiemHotTrongNuoc ">
                            @cat.DiaDiemHotTrongNuoc1
                        </option>
                    }
                   
                }
            </select>
        </div>
    </div>
    <div class="row">

        <button type="submit" class="btn btn-success">Save</button>
        <a href="/Admin/QuanLyTours/Index" class="btn btn-danger">Cancel</a>

    </div>
</form>