@model websitequanlutours.Models.Tour

@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage.cshtml";
}

<h2>Thêm mới tour</h2>
@*
    <form action="/QuanLyTours/ThemMoi" method="post"></form>
*@





@using (Html.BeginForm("ThemMoi", "QuanLyTours", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/dorm-data" }))
{

    <div class="row">

        <div class="col-md-6">
           
                @Html.LabelFor(row => row.TenTour)
                @Html.TextBoxFor(row => row.TenTour, new { @class = "form-control", placeholder = "Tên tour" })
                @Html.ValidationMessageFor(row => row.TenTour)

           


        </div>
        <div class="col-md-6" >
            <label for="ThoiGianTour">Thời gian tour</label>

            @*

            *@
            <input type="date"
                   class="form-control"
                   id="ThoiGianTour"
                   name="ThoiGianTour"
                   placeholder="Thoi Gian Tour" />
            <span id="loithoigiantour"></span>
        </div>
        <div class="col-md-6">
            <label for="Gia">Giá</label>
            @Html.TextBoxFor(row => row.Gia, new { @class = "form-control", placeholder = "Giá" })
            @Html.ValidationMessageFor(row => row.Gia)

        </div>
        <div class="col-md-6">
            <label for="ChuongTrinhTour">Chương trình tour</label>
            @Html.TextBoxFor(row => row.ChuongTrinhTour, new { @class = "form-control", placeholder = "Chương trình tour" })
            @Html.ValidationMessageFor(row => row.ChuongTrinhTour)

        </div>
        <div class="col-md-6">


            @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })


            <input type="file"
                   name="ImageFile"
                   id="ImageFile"
                    placeholder=""
                   class="form-control" />

        </div>

        <div class="col-md-6">
            <label for="LoaiTour">Loại tuor</label>



           
            @Html.TextBoxFor(row => row.LoaiTour, new { @class = "form-control", placeholder = "loại tour" })

        </div>
        <div class="col-md-6">
            <label for="ChuDe"> Chủ đề</label>

           

            @Html.TextBoxFor(row => row.ChuDe, new { @class = "form-control", placeholder = "Chủ đề" })

        </div>
        <div class="col-md-6">
            <label for="TourNuocNgoai"> Tour nước ngoài</label>

         

            @Html.TextBoxFor(row => row.TourNuocNgoai, new { @class = "form-control", placeholder = "tour nước ngoài" })

        </div>
        <div class="col-md-6">
            <label for="TourTrongNuoc">Tour trong nước </label>

            @Html.TextBoxFor(row => row.TourTrongNuoc, new { @class = "form-control", placeholder = "Tour trong nước" })

        </div>
        <div class="col-md-6">
            <label for="DiaDiemHotNuocNgoai">Địa điểm hot nước ngoài</label>


         
            @Html.TextBoxFor(row => row.DiaDiemHotNuocNgoai, new { @class = "form-control", placeholder = "Địa điểm hot nước ngoài " })
        </div>
        <div class="col-md-6">
            <label for="DiaDiemHotTrongNuoc">Địa điểm hot trong nước</label>


            @Html.TextBoxFor(row => row.DiaDiemHotTrongNuoc, new { @class = "form-control", placeholder = "Địa điểm hot trong nước" })
        </div>
    </div>
    @*@Html.ValidationSummary()
    <h2 class="color">@ViewBag.h1</h2>*@
    <div class="row-cols-auto">

        <button type="submit" class="btn btn-success" id="btn btn-success">Tạo</button>
        <a href="/Admin/QuanLyTours/Index" class="btn btn-danger">Cancel</a>

    </div>
}

<style>
    .color {
        color: red;
    }
</style>

